<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056058460208-aiul68vj65ivb4udkcbit156tbd51vdf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056058460208-aiul68vj65ivb4udkcbit156tbd51vdf</string>
	<key>API_KEY</key>
	<string>AIzaSyAUMKm5QjK_VG9SefSAcx3ypt_tdJ8NLNo</string>
	<key>GCM_SENDER_ID</key>
	<string>1056058460208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fernando.Ervas</string>
	<key>PROJECT_ID</key>
	<string>ervas-94c29</string>
	<key>STORAGE_BUCKET</key>
	<string>ervas-94c29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056058460208:ios:8415d6e7b37e78093145f5</string>
	<key>DATABASE_URL</key>
	<string>https://ervas-94c29.firebaseio.com</string>
</dict>
</plist>